html, body{
    margin: 0 auto;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    max-width: 1500px;
    box-sizing: border-box;
    overflow-x: hidden;
}

header{
    width: 95%;
    margin: 0 auto;
}
/*------Nav bar---------*/
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    flex-basis: 20%;
    color: #3C50E0;
}
.middle_menu{
    flex-basis: 75%;
    display: inline-block;
    text-align: start;
    display: flex;
    justify-content: space-between;
    align-content: center;
}
.middle_menu ul{
    list-style: none;
    display: inline-block;
    width: 70%;
    text-align: left;
}
.middle_menu ul li{
    display: inline-block;
    padding: 0 2.5rem 0 2.5rem;
    color: #848484;
    font-size: 1rem;
    font-weight: 500;
}
.final_nav{
    display: inline-block;
}
.final_nav p{
    display: inline-block;
    padding: 0 2.5rem 0 2.5rem;
    font-size: 1rem;
}
.final_nav button{
    width: 4.5rem;
    height: 2rem;
    font-size: 1rem;
}

nav .fa{
    display: none;
}



button{
    color: #fff;
    background-color: #3C50E0;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    outline: none;
    border: 0px;
}

p{
    font-size: 1rem;
    font-weight: 500;
    color: #848484;
}

/*-------textarea-------*/
.text_area{
    width: 100%;
    margin:0 auto;
    display: flex;
    margin-top: 1rem;
}
.left{
    background-color: #F3F4FF;
    padding:  10rem 5rem;
    width: 40%;
}
.right{
    background-color: #3C50E0;
    padding: 5rem;
    flex-grow: 1;
}
.left h1{
    font-size: 3rem;
    display: inline;
}
.left p{
    color: #363D70;
    font-weight: 400;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
}
.text_area button{
    width: 12rem;
    height: 4rem;
    margin-top: 4rem;

}
@media screen and (max-width:600px) {
    .text_area{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    nav{height: auto;
    }

    .logo h1{
        margin: 0;
        font-size: 2rem;
    }
    .middle_menu{
        display: block;
        position: absolute;
        background: #3C50E0;
        height: 100vh;
        width: 12rem;
        top: 0;
        right: -12rem;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    .final_nav p{
        padding: 0;
    }

    .middle_menu ul{
        margin: 0;
        padding: 1.8rem;
        padding-bottom: 0;
    }
    .middle_menu ul li{
        display: block;
        margin: 0;
        padding: 0;
        padding-top: 1rem;
        color: white;   
    }

    nav .fa{
        display: block;
        color: white;
        margin: 1.8rem;
        background:#3C50E0;
        padding: 0.5rem;

    }
    .final_nav p{
        display: block;
        margin: 0;
        padding:1.8rem;
        padding-top: 0;
        padding-bottom: 0px;
        padding-top: 1rem;
        color: white;

    }
    .final_nav button{
        margin-left: 1.8rem;
        margin-top: 1rem;
        background: white;
        color: #3C50E0;
        width: 6rem;

    }
   
    p{
        font-size: 1rem;
        font-weight: 500;
        color: #848484;
    }
    .left{
        width: 70%;
        margin: 0 auto;
        text-align: center;
        padding: 15%;
        padding-top: 10%;
    }
    .left h1{
        font-size: 3rem;
    }
    .left p{
        font-size: 1rem;
        letter-spacing: 0.05rem;
    }
    .text_area button{
        width: 10rem;
        height: 2.5rem;
        font-size: 1rem;
        margin-top: 2rem;
    }
}
main{
    width: 95%;
    margin: 0 auto;
    text-align: center;
}
.hiw_row{
    display: flex;
    margin-top: 5rem;
    background: url(images/Vector\ 3371.png);
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: -0.05rem;
    justify-content: space-between;
}
.first_col{
    width: 30%;
}

.first_col img{
    width: 15rem;
    height: 5rem;
    object-fit: cover;
    object-position: 20% 30%;
}
main h1{
    font-weight: 600;
    margin-top: 6rem;
    margin-bottom: 0px;
    display: inline-block;
    font-size: 2.5rem;
}
main p{
    font-weight: 400;
}
h2+p{
    font-weight: 400;
    font-size: 1rem;
    color: #5D8082;
}
img+h2{
    font-weight:  600;
    font-size: 2rem;
}
hr{
    border: 1px solid #848484;
    width: 100%;
    display: none;
}
h1{
    font-size: 2.5rem;
}
p{
    font-size: 1rem;
}
@media screen and (max-width:600px) {
    main{
        align-items: center;
        text-align: center;
        display: flex;
        flex-direction: column;
    }
    .hiw_row{
        display: flex;
        flex-direction: column;
        margin: auto;
    }
    h2+p{
        margin-bottom: 2rem;
    }
    .first_col{
        width: 100%;
        margin-top: 4rem;
    }
    hr{
        display: block;
        opacity: 20%;
    }
    
}
/*--------third pagge-------*/
.thirdpage{
    display: flex;
    width: 95%;
    margin: 0 auto;
    justify-content: space-between;
}

.thirdpage div+div{
    flex: 1;
    padding: 6rem;
    text-align: left;
    padding-left: 0;
    padding-bottom: 0px;
}
.img{
    padding-left: 9rem;
    object-fit: cover;
    height: 50rem;

}
.thirdpage h1{
    font-weight: 600;
    font-size: 2rem;
}
.thirdpage p{
    font-weight: 400;
    font-size: 1rem;
    margin: 2.1rem 0 4rem 0;

}
.thirdpage button{
    background: transparent;
    color: black;
    border: 1px solid #B5BAE0;
    width: 50%;
    align-items: center;
    padding: 1rem;
    display: flex;
    border-radius: 1.5rem;
    height: 5rem;
}
.thirdpage button h4{
    display: inline;
    font-weight: 400;
    text-align: end;
    padding-left: 2rem;
    font-size: 0.8rem;
}
.thirdpage button img{
    width: 2rem;
}
/*-----fourthpage------*/
.fourthpage{
    display: flex;
    flex-direction: row-reverse;
   
}
.fourthpage h1{
    font-weight: 600;
    font-size: 2rem;
    
}
    
}
.fourthpage p{
    font-weight: 400;
    font-size: 1rem;
    margin: 2.1rem 0 4rem 0;
}
}
.fourthpage button{
    background: transparent;
    color: black;
    border: 1px solid #B5BAE0;
    width: 70%;
    align-items: center;
    padding: 1rem;
    display: flex;
    border-radius: 1.5rem;
    height: 5rem;
    text-align: center;
    padding-left: 3.2rem;

}
.fourthpage button h4{
    display: inline;
    font-weight: 400;
    text-align: end;
    padding-left: 0.2rem;
    font-size: 0.8rem;
}
.fourthpage button img{
    width: 2rem;
}

}
.fourthpage div+div{
    padding-top: 10rem;
    flex: 1;
    text-align: left;
    margin-left: 10rem;
}

@media screen and (min-width:601px) {
    .fourthpage{
        margin-left: 10rem;
    }
    .fourthpage .img{
        padding: 0;
        padding-right: 5rem;
        width: 50%;
    }
}
  



@media screen and (max-width:600px) {
    .thirdpage .img{
        padding-right: 6rem;
    }
    .thirdpage div+div{
        padding:0;
        text-align: center;
        padding: 5rem 5rem 0 5rem;

    }
    .fourthpage .img{
        padding-right: 7rem;
    }
    .fourthpage{
        display: flex;
        flex-direction: column;
    }
    .fourthpage .img{
        padding-left: 10rem;
    }
    .fourthpage div+div{
        margin:0;
        padding: 5rem 5rem 0 5rem;
    }
    .fourthpage h1, .thirdpage h1{
        text-align: center;
        font-size: 2rem;
        padding: 0 auto;
        margin-top: 0;
    }
    .fourthpage p, .thirdpage p{
        text-align: center;
        font-size: 1rem;
    }
    button.store{
        height: 3rem;
        width: auto;
        padding: 1rem 3rem ;
        margin: 0 auto;

      }
    button.store h4{
        font-size: 0.6rem;
        text-align: center;
        padding: 0;
    }
    .thirdpage button{
        padding: 0;
        width: 8rem;
        justify-content: space-between;
        padding: 1rem;
    }

}
/*--------footer-------*/
.mini_box{
    width: 40%;
    margin: 0 auto;
    background-color: #3C50E0;
    padding: 2rem 3rem 2rem 3rem;
    margin-top: 3rem;
    border-radius: 1.5rem;
    text-align: center;
}
.mini_box h1{
    color: white;
    font-size: 2rem;
    font-weight: 600;
}
.mini_box p{
    color: #E8E8E8;
    font-weight: 400;
}
.smallinput{
    border: 0;
    border-radius: 0.5rem;
    background-color: #FCFCFC;
    width: 70%;
    margin: 0 auto;
    height: 2rem;
    display: flex;
    justify-content: space-between;
    padding: 0.1rem;
}

.smallinput label{
    font-size: 0.5rem;
    background-color: #141E6C;
    color: white;
    padding: 0.5rem;
    border-radius: 0.5rem;
}
.smallinput input{
    font-size: 0.5rem;
    color: #989898;
    flex: 1;
    padding-left: 1rem;
    border: none;
    border-radius: 2rem;
}

@media screen and (max-width:600px) {
    .mini_box{
        width: 60%;
        margin: 0 auto;
        margin-top: 2rem;
    }
    .smallinput{
        display: flex;
        flex-direction: column;
        height: 3.5rem;
    }
    
    
}

.footer{
    width: 100%;
    background-color: #3C50E0;
    margin-top: 2rem;
}
.content{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.footer_row .logo h1{
    color: white;
    padding-top: 0.5rem;
}
.footer_row p{
    color: #E8E8E8;
    line-height: 1.5rem;
}

.footer_row1{
    color: #E8E8E8;
    padding-top: 0;
    
}
.footer_row1 h4{
    font-weight: 600;
    font-size: 2rem;
}
.footer_row1 ul{
    list-style: none;
    padding: 0;
}
.footer_row1 ul li{
    font-size: 1rem;
    padding-bottom: 0.5rem;
}
.bella{
    padding-top: 2rem;
    padding-bottom: 1rem;
    width: 90%;
    margin: 0 auto;
    color: white;
}

@media screen and (max-width:600px) {
    .footer_row1 ul li{
        font-size: 1rem;
        padding-bottom: 0.5rem;
    }
    .footer_row{
        padding-top: 1.3rem;
    }
    .footer_row img{
        width: 1rem;
    }
    .bella{
        padding-top: 1rem;
    }
    .content{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        width: 50%;
        text-align: center;
    }
    .footer h4{
        margin: 0;
        margin-top: 3rem;
    }
}







