html, body{
    margin: 0 auto;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    max-width: 1500px;
    box-sizing: border-box;
    overflow-x: hidden;
}

header{
    width: 98%;
    margin: 0 auto;
}
nav{
    width: 100%;
    display: flex;
    margin: auto;
    justify-content: space-between;
}
.logo h1{
    font-size: 1.75rem;
    font-weight: 700;
    color: #3C50E0;
}
.middle_menu{
    list-style: none;
    display: flex;
    flex-grow: 1;
}
.middle_menu ul{
    display: flex;
    justify-content: flex-start;
    flex: 1;
    align-items: center;
    list-style: none;
    padding-left: 18rem;
}
.middle_menu ul li{
    font-size: 0.7rem;
    font-weight: 500;
    padding: 2rem;
    padding-top: 0px;
    padding-bottom: 0px;
    color: #848484;
}

.final_nav{
    display: flex;
    justify-content: flex-end;
    flex: 1;
    align-items: center;
    padding-left: 10rem;
}
button{
    color: #fff;
    background-color: #3C50E0;
    border-radius: 0.5rem;
   
    outline: none;
    border: 0px;
}

.final_nav button{
    margin-left: 2rem;
    width: 4.563rem;
    height: 2rem;
}
p{
    font-size: 0.7rem;
    font-weight: 500;
    color: #848484;
}

/*-------textarea-------*/
.text_area{
    width: 100%;
    margin:0 auto;
    display: flex;
    margin-top: 1rem;
}
.left{
    background-color: #F3F4FF;
    padding:  10rem 5rem;
    width: 40%;
}
.right{
    background-color: #3C50E0;
    padding: 5rem;
    flex-grow: 1;
}
.left h1{
    font-size: 4rem;
    display: inline;
}
.left p{
    color: #363D70;
    font-weight: 400;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
}
.text_area button{
    width: 12rem;
    height: 4rem;

}
@media screen and (max-width:600px) {
    .text_area{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .logo h1{
        font-size: 1rem;
    }
    .middle_menu ul{
        padding-left: 6rem;
        display: none;
    }
    .middle_menu ul li{
        font-size: 0.5rem;
        padding: 0.8rem;
    padding-top: 0px;
    padding-bottom: 0px;
    }
    .final_nav{
        display: flex;
        justify-content: flex-end;
        flex: 1;
        align-items: center;
        padding-left: 2rem;
    }
    p{
        font-size: 0.5rem;
        font-weight: 500;
        color: #848484;
    }
    .final_nav button{
        margin-left: 2rem;
        width: 3.563rem;
        height: 1.5rem;
        font-size: 0.5rem;
    }
    .left{
        width: 70%;
        margin: 0 auto;
        text-align: center;
        padding: 15%;
    }
    .left h1{
        font-size: 2rem;
    }
    .left p{
        font-size: 0.7rem;
        letter-spacing: 0.05rem;
    }
    .text_area button{
        width: 6rem;
        height: 2rem;
        font-size: 0.5rem;
    }
}
main{
    width: 98%;
    margin: 0 auto;
    text-align: center;
}
.hiw_row{
    display: flex;
    margin-top: 5rem;
    background: url(images/Vector\ 3371.png);
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: -0.05rem;
}

img{
    width: 15rem;
    height: 5rem;
    object-fit: cover;
    object-position: 20% 30%;
}
main h1{
    font-weight: 600;
    margin-top: 6rem;
    margin-bottom: 0px;
    display: inline-block;
}
main p{
    font-weight: 400;
}
h2+p{
    font-weight: 400;
    font-size: 0.7rem;
    color: #5D8082;
}
img+h2{
    font-weight:  600;
    font-size: 1rem;

}
.second_col img{
    width: 15rem;
    height: 10.4rem;
    object-fit: cover;
    object-position: 20% 30%;
}
@media screen and (max-width:600px) {
    .hiw_row{
        display: flex;
        flex-direction: column;
    }
    
}
